.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    padding: 0 35px;

    background: rgba(17, 17, 31, 0.1);
    backdrop-filter: blur(5px);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 18px;

    position: fixed;
    top: 12px;
    left: 20px;
    width: calc(100% - 40px);

    z-index: 1000;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;

    color: white;
    text-decoration: none;
}

.brand img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.brand span {
    font-size: 24px;
    font-weight: 600;
}

.navlinks {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navlinks a {
    color: #d8d8e5;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.navlinks a:hover {
    color: #8c7cff;
}